@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ui {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.separator {
  display: block;
  clear: both;
  width: 100%;
}

.icon {
  display: block;
  position: relative;
  margin-bottom: 7px;
  padding: 5px 3px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
  background: rgba(68, 68, 68, 0.384);
}

.icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 11;
  font-size: 10px;
}
.icon img {
  width: 16px;
  margin: -3px 0 0 0;
}
.icon span {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
}

.icon.text {
  display: inline-block;
  overflow: visible;
  width: auto;
  padding: 0;
}
.icon.text i {
  display: inline-block;
  float: left;
  transform: translate(0%, 0%);
  left: 0;
  top: 0;
  position: relative;
  padding: 10px 8px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  color: #fff;
}
.icon.text i:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon.text span {
  position: relative;
  width: auto;
  height: auto;
  left: 0;
  transform: translate(0, 0);
  display: inline-block;
  font-size: 12px;
  padding: 7px 15px 0 10px;
  font-weight: 700;
  color: #fff;
}

.icon.dying:not(.customstatus) span {
  animation: trew-status-blink 500ms infinite;
}
.icon.pulse i {
  animation: trew-pulse 500ms 1;
}

.info {
  position: absolute;
}

.info.server {
  top: 0;
  right: 10px;
  width: 100px;
  height: 100px;
}
.info.server #server img {
  max-width: 100%;
  opacity: 0.75;
}

.info.player {
  bottom: 40px;
  right: 16px;
  text-align: right;
}

.info.player #status {
  clear: both;
}

.info.player #status ul {
  margin: 10px 0 0 0;
}

.info.player #status ul li span {
  background: #ff0000;
}

.info.player #status ul li#voice span {
  transition: all 0.1s linear;
}
.info.player #status ul li#health.dead {
  animation: trew-pulse 500ms infinite;
}
.info.player #status ul li#health.dead span {
  height: 0 !important;
}
.info.player #status ul li#health.dead i.fas:before {
  content: "\f714";
}

.info.player #status ul #voice.speak {
  animation: trew-soundwave 1s infinite;
}

.info.vehicle {
  bottom: 20px;
  left: 25%;
  transform: translate(-50%, 0);
  z-index: 11;
}

@media only screen and (min-width: 799px) {
  .info.vehicle {
    left: 25%;
  }
}

@media only screen and (min-width: 1760px) and (max-width: 1920px) {
  .info.vehicle {
    left: 20%; 
  }
}

@media only screen and (min-width: 1930px) {
  .info.vehicle {
    left: 26%;
  }
}

.info.vehicle.active {
  opacity: 1;
}
.info.vehicle.inactive {
  opacity: 0;
}

.info.vehicle #speedometer #progress-speed {
  position: relative;
  width: 270px;
  height: 130px;
}
.info.vehicle #speedometer #progress-speed svg {
  position: absolute;
  top: -47;
  left: 60%; /* CIRCULO VELOCIDAD */
  transform: translate(-50%, 0) rotate(138deg);
  width: 130px;
}

.info.vehicle #speedometer #progress-speed svg circle {
  display: block;
  fill: transparent;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 75;
  transform-origin: 50% 50%;
}
.info.vehicle #speedometer #progress-speed svg circle.mask {
  stroke: rgba(0, 0, 0, 0.35);
}
.info.vehicle #speedometer #progress-speed svg circle.speed {
  stroke: url(#speed-gradient);
  stroke-dashoffset: 180;
}
.info.vehicle #speedometer #progress-speed svg:first-child {
  z-index: 11;
}

.info.vehicle #speedometer #progress-speed svg circle {
  transition: all 250ms linear;
}
.info.vehicle #speedometer #progress-speed svg circle.zero {
  stroke: #ff0000;
  stroke-dashoffset: 235;
}
.info.vehicle #speedometer #progress-speed svg circle.twentyfive {
  stroke: #ff0000;
  stroke-dashoffset: 180;
}
.info.vehicle #speedometer #progress-speed svg circle.fifty {
  stroke: #ff0000;
  stroke-dashoffset: 125;
}
.info.vehicle #speedometer #progress-speed svg circle.seventyfive {
  stroke: #ff0000;
  stroke-dashoffset: 75;
}

.info.vehicle #speedometer #vehicle-speed {
  position: absolute;
  top: 13%;
  left: 60%; /* KM/H */
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.info.vehicle #speedometer #vehicle-speed span {
  display: block;
  font-family: "Roboto Mono";
  font-weight: 900;
  font-size: 30px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

.info.vehicle #speedometer #vehicle-speed strong {
  display: inline-block;
  font-family: "Roboto Mono";
  font-size: 10px;
  font-weight: 900;
  padding: 2px 5px;
  border-radius: 100px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  transition: all 150ms linear;
}
.info.vehicle #speedometer #vehicle-speed strong.on {
  background: #18b70b;
}

.info.vehicle #speedometer #progress-rpm {
  position: absolute;
  top: -32;
  right: 8; /*REVOLUCIONES*/
  width: 170px;
  height: 120px;
}

.info.vehicle #speedometer #progress-rpm svg {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 0) rotate(138deg);
  width: 100px;
}

.info.vehicle #speedometer #progress-rpm svg circle {
  display: block;
  fill: transparent;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 75;
  transform-origin: 50% 50%;
}
.info.vehicle #speedometer #progress-rpm svg circle.mask {
  stroke: rgba(0, 0, 0, 0.35);
}
.info.vehicle #speedometer #progress-rpm svg circle.speed {
  stroke: url(#speed-gradient);
  stroke-dashoffset: 180;
}
.info.vehicle #speedometer #progress-rpm svg:first-child {
  z-index: 11;
}

.info.vehicle #speedometer #progress-rpm svg circle {
  transition: all 250ms linear;
}
.info.vehicle #speedometer #progress-rpm svg circle.zero {
  stroke: rgba(255, 255, 255, 255);
  stroke-dashoffset: 235;
}
.info.vehicle #speedometer #progress-rpm svg circle.twentyfive {
  stroke: rgba(255, 255, 255, 255);
  stroke-dashoffset: 180;
}
.info.vehicle #speedometer #progress-rpm svg circle.fifty {
  stroke: rgba(255, 255, 255, 255);
  stroke-dashoffset: 125;
}
.info.vehicle #speedometer #progress-rpm svg circle.seventyfive {
  stroke:  rgba(255, 255, 255, 255);
  stroke-dashoffset: 75;
}

/*.info.vehicle #speedometer #vehicle-rpm {
  position: absolute;
  top: 10px;
  right: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.info.vehicle #speedometer #vehicle-rpm span {
  display: block;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 100px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

.info.vehicle #speedometer #vehicle-rpm strong {
  display: inline-block;
  font-family: "Roboto Mono";
  font-size: 10px;
  font-weight: 800;
  padding: 2px 5px;
  border-radius: 100px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  transition: all 150ms linear;
}*/
.info.vehicle #speedometer #vehicle-rpm strong.on {
  background: #18b70b;
}

.info.vehicle #speedometer #vehicle-gear,
.info.vehicle #speedometer #vehicle-others {
  position: absolute;
  bottom: 55;
  left: 60%; /* MARCHAS */
  width: 69px;
  transform: translate(-50%, 0);
  margin: auto;
  border: 2px solid transparent;
}

.info.vehicle #speedometer #vehicle-gear.pulsing {
  animation: trew-siren 1s infinite;
}

.info.vehicle #speedometer #vehicle-gear i {
  top: -2px;
}
.info.vehicle #speedometer #vehicle-gear span {
  padding: 5px 15px 0 10px;
}

.info.vehicle #speedometer #vehicle-status-right-down {
  position: absolute;
  bottom: 17px;
  right: 88;  /*CINTURON*/
}
.info.vehicle #speedometer #vehicle-status-right-down ul li {
  float: left;
  margin: 10px;
}

.info.vehicle #speedometer #vehicle-status-right {
  position: absolute;
  bottom: -3px;
  right: 28; /*LUCES CHOCHE*/
}
.info.vehicle #speedometer #vehicle-status-right ul li {
  float: left;
  margin: 30px;
}

.info.vehicle #speedometer li#seatbelt span {
  background: #00000000;
}
.info.vehicle #speedometer li#seatbelt.on span {
  background: #ff0000;
}

.info.vehicle #speedometer li#fuel span {
  background: #ff0000;
}

.info.vehicle #speedometer li#lights.normal span,
.info.vehicle #speedometer li#lights.high span {
  /*background: linear-gradient(180deg, #00c3ff 0%, #008fbb 100%);*/
  background: #ff0000;
}

@keyframes trew-siren {
  0% {
    border-color: rgba(255, 0, 0, 0);
    box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0);
  }
  50% {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0.5);
  }
  100% {
    border-color: rgba(255, 0, 0, 0);
    box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0);
  }
}

@keyframes trew-soundwave {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.75);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
}

@keyframes trew-status-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes trew-pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
